service: nest-lambda-demo

plugins:
 - serverless-plugin-typescript
 - serverless-plugin-optimize
 - ${opt:stage, 'local'} == 'local' && 'serverless-offline' || ''


provider:
 name: aws
 runtime: nodejs20.x
 region: eu-north-1

functions:
  backend:
   handler: backend/src/lambda.handler
   events:
     - http:
         method: any
         path: /api/{any+}

custom:
  optimize:
    excludeDevDependencies: true
    minify: true
    removeFiles: true
  serverless-offline:
    httpPort: 5000